*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
#*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# gradle
.gradle

# compile
build/
target/

# eclipse
.settings
.classpath
.project

# idea
.idea/
*.iml
*.ipr
*.iws
out/

.DS_Store
